# dependencies
/node_modules

# next.js
/.next
/out
next-env.d.ts

# env / secrets
.env
.env*.local

# misc
*.log
.DS_Store
tsconfig.tsbuildinfo

# local sqlite dev (temporary offline DB)
prisma/dev.db
prisma/dev.db-journal

# public
public/*

#graphify
graphify-out/*
